<nav class="flex-row nav-container">
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <img src="/_content/BasicSheets.Shared/icons/sheets.svg" class="nav-icon" />
        </NavLink>
    </div>

    <div class="nav-item-add">
        <NavLink class="nav-link add" href="upload">
            <img src="/_content/BasicSheets.Shared/icons/add.svg" class="nav-icon" />
        </NavLink>
    </div>

    <div class="nav-item">
        <NavLink class="nav-link" href="settings">
            <img src="/_content/BasicSheets.Shared/icons/settings.svg" class="nav-icon" />
        </NavLink>
    </div>
</nav>

