@page "/Help"

<PageTitle>Informationen und Anleitungen</PageTitle>

<div class="main-container-large">
    <h2>Willkommen bei BasicSheets!</h2>
    <p>BasicSheets ist eine einfache Anwendung zum Verwalten und Anzeigen von Notenblättern. Hier finden Sie einige Anleitungen und Informationen zur Nutzung der Anwendung.</p>
    <h3>Hinzufügen von Notenblättern</h3>
    <p>Um ein neues Notenblatt hinzuzufügen, navigieren Sie zur Upload-Seite über das Menü. Dies tun Sie in dem Sie auf den Button mit dem Plus Icon drücken. Dort können Sie eine PDF-Datei auswählen und die relevanten Informationen wie Name, Komponist und Stimme eingeben. Klicken Sie anschließend auf "Hinzufügen", um das Notenblatt zu speichern.</p>
    <h3>Anzeigen und Verwalten von Notenblättern</h3>
    <p>Auf der Startseite sehen Sie eine Liste aller hinzugefügten Notenblätter. Dies ist der erste Button in der Navigation. Sie können nach Namen, Komponisten oder Stimmen filtern, um schnell das gewünschte Notenblatt zu finden. Klicken Sie auf ein Notenblatt, um es anzuzeigen. Über die beiden Icons, welche sich rechts befinden, können Sie Notenblätter bearbeiten oder löschen.</p>
    <h3>Einstellungen</h3>
    <p>In den Einstellungen können Sie verschiedene Optionen der Anwendung anpassen. Nutzen Sie die Suchfunktion, um bestimmte Einstellungen schnell zu finden. Einige Einstellungen bieten Schalter zum Aktivieren oder Deaktivieren bestimmter Funktionen.</p>
    <h3>Hinzufügen von Notenblättern funktioniert nicht</h3>
    <p>Wenn das Hinzufügen nicht funktioniert kann es sein, dass die Datei entweder zu gross oder kein PDF ist. Falls ebenfalls kein Name mitgegeben wurde, werden Sie auch keine Notenblätter hinzufügen können.</p>
</div>